
.head {
    display: flex;
    justify-content: center;
    width: 420px;
    border: 1.5px solid #ccc;
    margin: 20px auto;
    background-color: aliceblue;
}

.Dropdown {
    width: 430px;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.drop-text {
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #ccc;
    padding: 10px;
}

arrow-down.rotate {
    transform: rotate(180deg);
}

ul {
    padding: 0 15px;
    display: none;
}

.show {
    display: block;
}

.list-text {
    list-style: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.checkBox {
    width: 25px;
    height: 24px;
    border: 1.5px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkBox i {
    transform: scale(0);
}

.checkBox i.checked {
    transform: scale(1);
}

.text {
    font-size: 16px;
    margin-left: 10px;
} 